/**
 *  File Upload Button
 */
.fileUpload {
  position:relative;
  overflow: hidden;
  margin:10px;
  border-color: #CCCCCC;
  background-color: #333333;
}

.fileUpload:hover {
  border-color: #337AB7;
}

.fileUpload input.upload {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  font-size: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}


